body{
  margin: 0;
  font-family:'나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

.headline{
  height: 120px;
  background-color: #000;
  padding: 40px;
  font-size: 40px;
  color: white;
}

h1{
  padding: 40px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

tr, td{
  margin: 40px;
  border: 1px solid #d1d1d1;
  font-size: 16px;
}

input{
  font-size: 16px;
}

ul{
  border: 1px solid #d1d1d1;
  font-size: 16px;
}

.container{
  margin-left: 40px;
  margin-right: 40px;
  padding: 14px;
}

.text1{
  padding: 40px;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #454545;
}

.table_element{
  margin: 40px;
}

.content_title{
  height: 46px;
  padding: 15px;
  font-size: 16px;
  color: #333
  font-weight: bold;
  background-color: #f7f7f7;
  border: 1px solid #d1d1d1;
}

.content_area{
  border: 1px solid #d1d1d1;
  padding: 30px;
  font-size: 12px;
  color: #000;
}

ol{
  padding: 40px;
  border-top: 1px solid #d1d1d1;
  text-align: center;
}

.info{
  text-align: center;
  font-size:12px;
  color: #999;
}

.copyright{
  font-size:12px;
  color: #000;
  text-align: center;
}
